*{
    margin: 0;
    padding: 0;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
}

.nav-container{
    background-color: rgb(19, 151, 74);
    padding: 20px;
    color:white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.logo-img{
    width: 160px;
}
.nav-list{
    display: flex;
    
}
.items{
    font-size: 1.2rem;
    margin-right: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.items:hover{
    color: blue;
}
.main-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;

    background-image: url("images/black\ backround\ image.avif"),linear-gradient(45deg,#000,#000);
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
}
.banner-img{
    width: 450px;

}
.main-header{
    font-size: 50px;
    font-weight: bold;

}
.paragrap{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn{
    background-color: red;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.btn:hover{
    color: blue;
    animation: forwards;
}
.main-text{
    text-align: center;
    /* margin-top: 15px;
    margin-bottom: 15px; */
    padding: 20px;
    font-size: 50px;
}
.about-conteinar{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.about-photo{
    margin-left: 110px;
}
.about-img{
    width: 380px;
}
.about-text{
    margin-right: 110px;
    padding: 100px;
    
}
.about-text-h1{
 padding-bottom: 1rem; 
 font-weight: bolder; 
}
.about-btn{
    margin-top: 1rem;
}
.box{
    height: 290px;
    width: 210px;
    box-shadow: 4px 4px 15px gray;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 5%;
}
.service-img{
    width: 65px;
    align-items: center;
    margin-bottom: 15px;
}
.service-btn{
    background-color: gray;
    margin-top: 20px;
}
.service-para{
    padding: 15px;
}
.service-photo{
    width: 120px;
}
.service-container{
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    
}
.services-section{
    background-image: url(images/black\ backround\ image.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
.service-text{
color: white;
}
.main-footers{
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    margin-top: 60px;
   align-items: center;
   color: white;
   
}
footer{
    background-color: rgb(19, 151, 74);
    padding: 80px 100px 15px;
}
hr{
    margin-top: 25px;
}
.footer-paragrap{
    text-align: center;
    color: white;
    margin-top: 25px;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
    .nav-container,.nav-list,.main-container,.about-conteinar,.service-container,.main-footers  {
        flex-direction: column;
        gap: 10px;
    }
    .banner-img {
        width: 100%;
    }
    .main-container{
        margin-top: 200px;
    }
    .about-text{
        padding: 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) and (max-width:768) {

}



